@import "src/main";

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}

.btn {
  padding: 5px 15px;
  background: $grey-200;
  border-radius: 5px;
  color: $primary;
  cursor: pointer;
}

.numberPage {
  margin: 0 20px;
}
