@import "main";

.title {
  margin-top: 30px;
  text-align: center;
  font-size: 25px;
}

.inputWrapper {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainWrapper {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  @include media-breakpoint-up($breakpoint-pre-md) {
    grid-template-columns:repeat(auto-fill, minmax(280px, 1fr))
  }
}
