//colors
$black: #000000;
$white: #ffffff;
$primary: #0F7A65;
$text-primary: rgba(0, 0, 0, 0.87);
$grey: #E0E0E0;
$grey-100: #F9F9FC;
$grey-200: #EEEEEE;
$red-500: #F44336;

//shadows
$shadow-color: rgba(53, 64, 82, 0.05);

//breakpoints
$breakpoint-xl: 1599px;
$breakpoint-lg: 1367px;
$breakpoint-pre-md: 1110px;
$breakpoint-md: 1023px;
$breakpoint-pre-sm: 910px;
$breakpoint-sm: 767px;
$breakpoint-pre-xs: 674px;
$breakpoint-xs: 575px;
